body {
  //background-color: #e6faff;
  background: url(/images/paper_background.jpg);
  background-size: cover;
  opacity: .7;
  //opacity: .9;
}

//img {
//  margin: 0 auto;
//  top: 50%;
//  left: 50%;
//}