.form-container {
    width: 50vw;
    height: auto;
    border: 0 solid lightgrey;
    margin: auto;
    margin-top: 5em;
    border-radius: 1em;
    overflow: hidden;
    padding-bottom: 2em;
    max-width: 35em;
}