body {
  //background-color: #e6faff;
  //background: url(/images/paper_background.jpg);
  background-color: lightgray;
  background-size: cover;
  opacity: .7;
  padding-top: 10em;
  //opacity: .9;
}

.settings-container {
    margin-top: 5em;
    width: 100%;
    height: auto;
    padding: 1em;
}